@import 'leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Encode Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Fix para tooltips de Leaflet */
.leaflet-container {
    font-family: inherit;
}

.leaflet-tooltip {
    padding: 6px 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Ocultar etiquetas de Falklands */
.leaflet-container text {
  display: none !important;
}